//my variabls ****************************************
$max: 1920px;
$min: 1820px;
$mr: "Montserrat regular",'Arial', Sans-serif;
$ml: 'Montserrat light','Arial', Sans-serif;
$mul: 'Montserrat ulra light','Arial', Sans-serif;
$rr: "Raleway regular",'Arial', Sans-serif;
$rm: "Raleway medium",'Arial', Sans-serif;
$rb:  "Raleway Bold",'Arial', Sans-serif;
$reb: "Raleway ExtraBold",'Arial', Sans-serif;
$rsb: "Raleway SemiBold",'Arial', Sans-serif;
$mpr: "Myriad Pro Regular",'Arial', Sans-serif;
$robre: "Roboto regular",'Arial', Sans-serif;